<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink=""><img src="./assets/logo.png" width="140px" height="115px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subnav" aria-controls="subnav"
        aria-expanded="false" aria-label="Toggle subnav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="subnav">
        <ng-container>
            <ul class="navbar-nav mr-auto">
                <li *ngFor="let navbarItem of navbarItems">
                    <a class="nav-link" routerLink="{{navbarItem.link}}">{{navbarItem.name}}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <div class="navbar-btns">
                        <span class="profile-button" routerLink="profile" *ngIf="currentUser"></span>
                    </div>
                </li>
            </ul>
        </ng-container>
    </div>
</nav>