<div class="table-btns-container">
    <a routerLink="add" class="btn btn-success btn-add icon-btn"><span class="fa fa-plus"></span>{{addBtnTxt}}</a>
    <form id="search-form" class="mini-search">
        <input type="search" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
    </form>
</div>
<div>
    <div class="bookmark-l">
        <b class="no-user-select">{{currentPage}}</b>
    </div>
    <div class="bookmark-r">
        <b class="no-user-select">Total: {{users.length}}</b>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="min clickable no-user-select" scope="col" (click)="sortTable('id')">
                    #
                    <span class="fa" [ngClass]="{'fa-long-arrow-alt-up':isAsc==='id', 'fa-long-arrow-alt-down':isDesc==='id'}"></span>
                </th>
                <th class="normal clickable no-user-select" scope="col" (click)="sortTable('name')">
                    Name
                    <span class="fa" [ngClass]="{'fa-long-arrow-alt-up':isAsc==='name', 'fa-long-arrow-alt-down':isDesc==='name'}"></span>
                </th>
                <th class="normal clickable no-user-select" scope="col" (click)="sortTable('surname')">
                    Surname
                    <span class="fa" [ngClass]="{'fa-long-arrow-alt-up':isAsc==='surname', 'fa-long-arrow-alt-down':isDesc==='surname'}"></span>
                </th>
                <th class="big mob clickable no-user-select" scope="col" (click)="sortTable('walletAddress')">
                    Address<span class="fa" [ngClass]="{'fa-long-arrow-alt-up':isAsc==='walletAddress', 'fa-long-arrow-alt-down':isDesc==='walletAddress'}"></span>
                </th>
                <th class="minorm no-user-select" style="text-align: right;">
                    <span class="fa clickable" [ngClass]="isClosed ? 'fa-chevron-down' : 'fa-chevron-up'"
                        (click)="isClosed = !isClosed" data-toggle="collapse" data-target="#body"
                        aria-expanded="false" aria-controls="body"></span>
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="collapse show content-table-container" id="body">
    <table class="table" id="contentTable">
        <tbody>
            <tr *ngFor="let user of users | filterUsers: searchValue; let i = index;">
                <th class="min" scope="row">{{user.id}}</th>
                <td class="normal">{{user.name}}</td>
                <td class="normal">{{user.surname}}</td>
                <td class="big mob">{{user.walletAddress}}</td>
                <td class="minorm" style="text-align: right;">
                    <i *ngIf="user.balance < 1" matTooltip="Low level of Ether" matTooltipPosition="before" class="fas fa-exclamation-triangle table-warn"></i>
                    <button routerLink="{{user.id}}" class="selectButton">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>