<div class="table-btns-container">
    <button *ngIf="isEmployee" (click)="openGenerateProcessModal()" class="btn btn-success btn-add icon-btn"><span class="fa fa-plus"></span>Generate Process</button>
    <form id="search-form" class="mini-search">
        <input type="search" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
    </form>
</div>
<div>
    <div class="bookmark-l">
        <b class="no-user-select">Processes <i class="fa fa-redo-alt clickable" [ngClass]="{'fa-spin':rotate}" (click)="reloadProcesses()"></i></b>
    </div>
    <div class="bookmark-r">
        <b class="no-user-select">Total: {{processes.length}}</b>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="min clickable no-user-select" scope="col" (click)="sortTable('processId')">
                    #
                    <span class="fa" [ngClass]="{'fa-long-arrow-alt-up':isAsc==='processId', 'fa-long-arrow-alt-down':isDesc==='processId'}"></span>
                </th>
                <th class="normal clickable no-user-select" scope="col" (click)="sortTable('processName')">
                    Process name
                    <span class="fa" [ngClass]="{'fa-long-arrow-alt-up':isAsc==='processName', 'fa-long-arrow-alt-down':isDesc==='processName'}"></span>
                </th>
                <th class="normal mob clickable no-user-select" scope="col" (click)="sortTable('formattedTimestampGenerated')">
                    Generated at
                    <span class="fa" [ngClass]="{'fa-long-arrow-alt-up':isAsc==='formattedTimestampGenerated', 'fa-long-arrow-alt-down':isDesc==='formattedTimestampGenerated'}"></span>
                </th>
                <th class="minorm clickable no-user-select" scope="col" (click)="sortTable('status')">
                    Status
                    <span class="fa" [ngClass]="{'fa-long-arrow-alt-up':isAsc==='status', 'fa-long-arrow-alt-down':isDesc==='status'}"></span>
                </th>
                <th class="minorm no-user-select" style="text-align: right;">
                    <span class="fa clickable" [ngClass]="isClosed ? 'fa-chevron-down' : 'fa-chevron-up'"
                        (click)="isClosed = !isClosed" data-toggle="collapse" data-target="#body"
                        aria-expanded="false" aria-controls="body"></span>
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="collapse show content-table-container" id="body">
    <table class="table" id="contentTable">
        <tbody>
            <tr *ngFor="let process of processes | filterProcesses: searchValue; let i = index;">
                <th class="min" scope="row">{{process.processId}}</th>
                <td class="normal">{{process.processName}}</td>
                <td class="normal mob">{{process.formattedTimestampGenerated}}</td>
                <td class="minorm">{{process.status}}</td>
                <td class="minorm" style="text-align: right;">
                    <button routerLink="/processes/{{process.processId}}" class="selectButton">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>