<section class="overlay">
    <app-processes-table *ngIf="currentUser"></app-processes-table>
    <div class="open-tasks-container">
        <div class="open-tasks-title-wrapper">
            <h3 class="open-tasks-title">Open Tasks</h3>
            <i class="fa fa-redo-alt clickable open-tasks-reload" [ngClass]="{'fa-spin':rotate}" (click)="reloadOpenTasks()"></i>
        </div>
        <div class="open-tasks-wrapper">
            <div class="card card-light-yellow open-task-card" *ngFor="let openTask of openTasks" routerLink="/processes/{{openTask.processId}}">
                <div class="card-body">
                    <span class="infographics-title">
                        {{openTask.processName}}
                    </span>
                    <span class="infographics-body">{{openTask.taskName}}</span>
                </div>
            </div>
        </div>
    </div>
</section>