<section *ngIf="currentUser.role !== 'Admin'">
    <mat-progress-bar mode="indeterminate" *ngIf="!user || !balance"></mat-progress-bar>
    <section class="overlay" *ngIf="user && balance">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title inline-field">
                    <i class="fas fa-user"></i>
                    My Profile
                </h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th class="th-20">{{currentUser.role}} ID</th>
                                <td colspan="2">{{currentUser.id}}</td>
                            </tr>
                            <tr>
                                <th class="th-20">Name</th>
                                <td colspan="2">{{user.name}}</td>
                            </tr>
                            <tr>
                                <th class="th-20">Surname</th>
                                <td colspan="2">{{user.surname}}</td>
                            </tr>
                            <tr>
                                <th class="th-20">Wallet Address</th>
                                <td>{{currentUser.walletAddress}}</td>
                                <td class="cp-clip" (click)="copyToClipboard(currentUser.walletAddress)">
                                    <i class="far fa-clone"></i>     
                                </td>
                            </tr>
                            <tr>
                                <th class="th-20">Balance</th>
                                <td colspan="2">
                                    {{balance}} 
                                    <i class="fab fa-ethereum"></i> 
                                    ETH
                                </td>
                            </tr>
                            <tr>
                                <th class="th-20">Department</th>
                                <td colspan="2">{{user.department}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="grid-container-2" *ngIf="currentUser.role==='Employee'">
            <div class="card card-light-blue">
                <div class="card-body">
                    <span class="infographics-title">
                        <i class="fas fa-thumbtack"></i>
                        Tasks Pending
                    </span>
                    <span class="infographics-body">{{user.tasksPending}}</span>
                </div>
            </div>
            <div class="card card-light-green">
                <div class="card-body">
                    <span class="infographics-title">
                        <i class="fas fa-check-circle"></i>
                        Tasks Completed
                    </span>
                    <span class="infographics-body">{{user.tasksCompleted}}</span>
                </div>
            </div>
        </div>
        <div class="grid-container-2" *ngIf="currentUser.role==='Supervisor'">
            <div class="card card-light-red">
                <div class="card-body">
                    <span class="infographics-title">
                        <i class="fas fa-times-circle"></i>
                        Processes Rejected
                    </span>
                    <span class="infographics-body">{{user.processesRejected}}</span>
                </div>
            </div>
            <div class="card card-light-green">
                <div class="card-body">
                    <span class="infographics-title">
                        <i class="fas fa-check-circle"></i>
                        Processes Approved
                    </span>
                    <span class="infographics-body">{{user.processesApproved}}</span>
                </div>
            </div>
        </div>
        <ng-container *ngIf="currentUser.role==='Employee' && user.contributions">
            <app-calendar-chart [contributions]="user.contributions"></app-calendar-chart>
        </ng-container>
    </section>
</section>

<section *ngIf="currentUser.role === 'Admin'">
    <mat-progress-bar mode="indeterminate" *ngIf="!balance"></mat-progress-bar>
    <section class="overlay" *ngIf="balance">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title inline-field">
                    <i class="fas fa-user"></i>
                    My Profile
                </h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th class="th-20">{{currentUser.role}} ID</th>
                                <td colspan="2">{{currentUser.id}}</td>
                            </tr>
                            <tr>
                                <th class="th-20">Wallet Address</th>
                                <td>{{currentUser.walletAddress}}</td>
                                <td class="cp-clip" (click)="copyToClipboard(currentUser.walletAddress)">
                                    <i class="far fa-clone"></i>     
                                </td>
                            </tr>
                            <tr>
                                <th class="th-20">Balance</th>
                                <td colspan="2">
                                    {{balance}} 
                                    <i class="fab fa-ethereum"></i> 
                                    ETH
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>