<ng-container *ngIf="modalId === 1 && isEmployee">
    <div class="modal-header">
        <h4 class="modal-title">Generate Process</h4>
        <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true" class="fa fa-times"></span>
        </button>
    </div>
    <div class="modal-content">
        <form novalidate [formGroup]="processform" (ngSubmit)="submit()">
            <mat-form-field class="form-field-full">
                <input type="text" matInput formControlName="processName" placeholder="Process Name" required>
            </mat-form-field>
            <a class="modal-btn" (click)="modalId = 2"><span class="modal-right-arrow-btn"></span></a>
        </form>
    </div>
</ng-container>

<ng-container *ngIf="modalId === 2 && isEmployee">
    <div class="modal-header">
        <h4 class="modal-title">Task 1</h4>
        <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true" class="fa fa-times"></span>
        </button>
    </div>
    <div class="modal-content">
        <form novalidate [formGroup]="processform" (ngSubmit)="submit()">
            <mat-form-field class="form-field-full">
                <input type="text" matInput formControlName="taskName" placeholder="Task Name" required>
            </mat-form-field>
            <a class="modal-btn" (click)="modalId = 1"><span class="modal-left-arrow-btn"></span></a>
            <div class="form-group">
                <button type="submit" [disabled]="isSaving" class="btn btn-success modal-btn-success">
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
            </div> 
        </form>
    </div>
</ng-container>