<section class="overlay">
    <div class="form-heading">Provide the information of the {{currentPage}}</div>
    <form novalidate [formGroup]="userform" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field-full">
            <input type="text" matInput formControlName="name" placeholder="Name" required>
        </mat-form-field>
        <mat-form-field class="form-field-full">
            <input type="text" matInput formControlName="surname" placeholder="Surname" required>
        </mat-form-field>
        <mat-form-field class="form-field-full">
            <input type="text" matInput formControlName="walletAddress" placeholder="Wallet Address" required>
        </mat-form-field>
        <mat-form-field class="form-field-full">
            <input type="text" matInput formControlName="department" placeholder="Department" required>
        </mat-form-field>
        <button type="submit" [disabled]="isSaving" class="ml-2 btn btn-success">
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
        </button>
        <button type="button" (click)="previousPage()" class="ml-3 btn btn-danger">Cancel</button>
    </form>
    <div class="alert-success mt-4" *ngIf="formSubmitted">
        <span class="closebtn" (click)="formSubmitted = false">&times;</span> 
        <strong>Thank you! </strong>The {{currentPage}} will be added after you confirm the transaction at Metamask.
    </div>
</section>