<div class="calendar-chart-wrapper" *ngIf="data.length">
    <google-chart #chart
        [title]="title"
        [type]="type"
        [data]="data"
        [options]="options"
        class="calendar-chart">
    </google-chart>
</div>