
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blockchain-bpms-primary: mat-palette($mat-indigo);
$blockchain-bpms-accent: mat-palette($mat-green, 600);
// The warn palette is optional (defaults to red).
$blockchain-bpms-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$blockchain-bpms-theme: mat-light-theme($blockchain-bpms-primary, $blockchain-bpms-accent, $blockchain-bpms-warn);

simple-snack-bar span {
  margin:auto;
  text-align: center;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($blockchain-bpms-theme);

/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    position: relative;
    font-family: 'Inter', sans-serif;
}

.overlay {    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.selectButton {
    border-radius: 10px;
    background-color: rgba(233, 236, 239, 0.925);
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
}

.selectButton:focus {
    outline: none;
}
  
.selectButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.selectButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
    
.selectButton:hover span {
    padding-right: 25px;
}
  
.selectButton:hover span:after {
    opacity: 1;
    right: 0;
}

.no-user-select {
    user-select: none;
}

.fa-redo-alt {
    margin-left: 5px;
}

.fa-spin {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

.open-tasks-title-wrapper {
    border-bottom: 1px solid #dee2e6;
}

.open-tasks-title {
    display: inline-block;
    margin-bottom: 8px;
}

.open-tasks-reload {
    vertical-align: text-top;
    display: inline-block;
}

th.min, td.min {
    width: 7%;
}

th.normal, td.normal {
    width: 18%;
}

th.big, td.big {
    width: 41%;
}

th.minorm, td.minorm {
    width: 20%;
}

@media (max-width: 1000px) { 
    .mob {
        display: none;
    }
}

.clickable {
    cursor: pointer;
}

.bookmark-l {
    width: 8rem;
    float: left;
    text-align: center;
    cursor: default;
    border: 1px solid #dee2e6;
    border-bottom: 0;
    margin-top: 1px;
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
}

.bookmark-r {
    width: 6rem;
    float: right;
    text-align: center;
    cursor: default;
    border: 1px solid #dee2e6;
    border-bottom: 0;
    margin-top: 1px;
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
}

input {
	outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
	box-sizing: content-box;
	font-family: inherit;
    font-size: 100%;
    display: inline-block;
    
	background: rgba(233, 236, 239, 0.925) url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
    width: 55px;
    margin-right: 10px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 25px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#search-form input[type=search] {
    width: 18px;
    height: 18px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search-form input[type=search]:hover {
	background-color: #fff;
}
#search-form input[type=search]:focus {
	width: 180px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

.navbar {
    background-color: #6485b9;
}

.navbar-nav {
    display: block;
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        text-align: right;
    }
}

.navbar-nav li {
    display: inline;
}

.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
}

@media only screen and (max-width: 400px) {
    .navbar-nav .nav-link {
        display: block;
    }
}

.nav-link:hover {
    transform: scale(1.15);
}

.navbar-btns {
    display: inline;
    vertical-align: middle;
}

@media only screen and (min-width: 750px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6485b9;
    overflow: hidden;
    user-select: none;
}

.footer-table {
    display: table;
    margin-left:auto; 
    margin-right:auto;
}

.hua-logo {
    width: 319px;
    height: 43px;
    background: transparent url('assets/hua_logo.png');
    background-size: 319px 43px;
}

.footer-text {
    padding: 0 30px;
    color: #bbbbbb;
}

@media only screen and (min-width: 774px) {
    .main-container {
        padding-bottom: 60px; /* height of your footer */
    }

    footer {
        height: 60px;
    }
    
    .footer-cell {
        display: table-cell;
        vertical-align: middle;
    }
}

@media only screen and (max-width: 773px) {
    .main-container {
        padding-bottom: 105px; /* height of your footer */
    }

    footer {
        height: 105px;
    }
    
    .footer-cell {
        display: table-row;
        text-align: center;
    }
}

.profile-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f007";
}

.profile-button {
    outline: none;
    box-sizing: content-box;
    display: inline-block;
    background: rgba(233, 236, 239, 0.925); 
    border: solid 1px #ccc;
    padding: 5.8px 11px 5.8px 11px;
	border-radius: 25px;
}

.profile-button:hover {
    cursor: pointer;
    background-color: #fff;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal-header {
  font-family: 'Inter', sans-serif;
}

.modal-content {
    animation: fadeIn 0.3s linear;
    font-family: 'Inter', sans-serif;
    border: 0;
    padding: 8px;
}

.modal-right-arrow-btn {
    width: 2.8em;
    height: 2.8em;
    border: 0.3em solid #28A745;
    border-radius: 50%;
    float: right;
    text-align: center;
    cursor: pointer;
    margin-top: -7px;
    margin-right: 8px;
}
  
.modal-right-arrow-btn:after {
    content: '';
    display: inline-block;
    margin-top: 0.5em;
    margin-left: -0.4em;
    width: 1.2em;
    height: 1.2em;
    border-top: 0.3em solid #28A745;
    border-right: 0.3em solid #28A745;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-left-arrow-btn {
    width: 2.8em;
    height: 2.8em;
    border: 0.3em solid #28A745;
    border-radius: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-top: -7px;
    margin-left: 8px;
}
  
.modal-left-arrow-btn:after {
    content: '';
    display: inline-block;
    margin-top: 0.5em;
    margin-left: 0.4em;
    width: 1.2em;
    height: 1.2em;
    border-bottom: 0.3em solid #28A745;
    border-left: 0.3em solid #28A745;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-btn:hover .modal-right-arrow-btn,
.modal-btn:hover .modal-left-arrow-btn {
    border: 0.3em solid #218838;
}

.modal-btn:hover .modal-right-arrow-btn:after {
    border-top: 0.3em solid #218838;
    border-right: 0.3em solid #218838;
}

.modal-btn:hover .modal-left-arrow-btn:after {
    border-bottom: 0.3em solid #218838;
    border-left: 0.3em solid #218838;
}

.modal-btn-success {
    float: right;
    margin-top: -3px;
    margin-right: 8px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  

@media (min-width: 1000px) {
    .popup .popuptext {
        display: none;
        width: 500px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        top: 110%;
        right: 50%;
        margin-right: -20px;
    }

    .popup .popuptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 15px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }

    .popup .popuptext-info {
        display: none;
        width: 500px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        right: 50%;
        margin-right: -20px;
    }

    .popup .popuptext-info::after {
        content: "";
        position: absolute;
        top: 100%;
        right: 18px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
}

@media (max-width: 1000px) {
    .popup .popuptext {
        display: none;
        width: 90vw;
        max-width: 400px;
        background-color: #555;
        color: #fff;
        font-size: 12px;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        top: 110%;
        left: 50%;
        margin-left: -20px;
    }

    .popup .popuptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 15px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }

    .popup .popuptext-info {
        display: none;
        width: 350px;
        background-color: #555;
        color: #fff;
        font-size: 12px;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: 50%;
        margin-left: -210px;
    }

    .popup .popuptext-info::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 200px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
}

.popup .show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.form-heading{
	font-weight: bold;
	border-bottom: 2px solid #ddd;
	margin: 0 8px 15px 8px;
	font-size: 15px;
	padding-bottom: 3px;
}

.form-field-full {
    width: 100%;
    padding: 0 8px;
}

.inline-field {
    display: inline-block;
}

.btn-add {
    margin: 5px 0px 20px 0px;
}

.icon-btn .fa {
    margin-right: 6px;
}

.alert-success {
    padding: 20px;
    background-color: #16be07;
    color: white;
}

.alert-fail {
    padding: 20px;
    background-color: #e73c11;
    color: white;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

#notfound {
    position: relative;
    height: 70vh;
    margin-top: 50px;
}

#notfound .gearoll {
    position: absolute;
    background: transparent url('assets/gear1.png') 0% 0% no-repeat padding-box;
    animation: roll 10s linear infinite;
}

@media only screen and (min-width: 1150px) {
    #notfound .gearoll {
        left: -60%;
        top: -41%;
        width: 230px;
        height: 230px;
        background-size: 230px 230px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1149px) {
    #notfound .gearoll {
        left: -22%;
        top: -15%;
        width: 160px;
        height: 160px;
        background-size: 160px 160px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 749px) {
    #notfound .gearoll {
        top: -33%;
        left: 34%;
        width: 138px;
        height: 138px;
        background-size: 138px 138px;
    }
}

@media only screen and (max-width: 480px) {
    #notfound .gearoll {
        top: -37%;
        left: 38%;
        width: 110px;
        height: 110px;
        background-size: 110px 110px;
    }
}

@keyframes roll {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0px;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #211b19;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #ff6300;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    color: #ff6300;
    background: #262330;
  }
  
  @media only screen and (max-width: 1149px) {
    .notfound .notfound-404 h1 {
      font-size: 148px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 148px;
      margin: 0px auto 10px;
    }
    .notfound .notfound-404 h1 {
      font-size: 86px;
    }
    .notfound .notfound-404 h2 {
      font-size: 16px;
    }
    .notfound a {
      padding: 7px 15px;
      font-size: 14px;
    }
  }

.th-20 {
    width: 20%;
    min-width: 138px;
    height: 55px;
}

.table-striped th, 
.table-striped td {
    border-top: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f5f8;
}

.table {
    user-select: none;
    margin-bottom: 0;
}

.table .thead-light {
    border: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: middle;
    border: 0;
}

.table tbody td,
.table tbody th {
    vertical-align: middle;
    border: 0;
}

#contentTable tr {
    border-top: 1px solid #dee2e6;
}

#contentTable tr:first-child {
    border-top: 0;
}

.content-table-container {
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.card {
    user-select: none;
}

.edit-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f044";
}

.edit-button {
    outline: none;
    box-sizing: content-box;
    float: right;
    background: rgba(228, 255, 75, 0.925); 
    border: solid 1px #ccc;
    padding: 8.7px 11px 8.7px 13px;
	border-radius: 25px;
    transition-duration: 0.4s;
}

.edit-button:hover {
    cursor: pointer;
    background-color: rgba(198, 226, 35, 0.925);
}

.save-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 20px;
    content: "\f0c7";
}

.save-button {
    outline: none;
    box-sizing: content-box;
    float: right;
    background: rgba(131, 223, 89, 0.925); 
    border: solid 1px #ccc;
    padding: 6px 12.3px 6px 12.3px;
	border-radius: 25px;
    transition-duration: 0.4s;
}

.save-button:hover {
    cursor: pointer;
    background-color: rgba(100, 180, 63, 0.925);    
}

.cancel-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 20px;
    content: "\f00d";
}

.cancel-button {
    margin-left: 5px;
    outline: none;
    box-sizing: content-box;
    float: right;
    background: rgba(255, 74, 74, 0.925); 
    border: solid 1px #ccc;
    padding: 6px 14.15px 6px 14.15px;
	border-radius: 25px;
    transition-duration: 0.4s;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: rgba(224, 63, 63, 0.925);
}

// .card-small {
//     width: 300px;
//     display: inline-block;
//     margin: 7px;
//     border: solid 1px;
//     cursor: pointer;
// }

.card-header {
    background-color: #e9ecef;
}

.card-title {
    margin-top: 4px;
    margin-bottom: 0;
}

.table-btns-container {
    display: flex;
    flex-grow: 1;
}

.mini-search {
    display: inline-block;
    margin: 6px -10px 6px auto;
}

// .parents-input {
//     display: inline-block;
//     margin-left: 10px;
//     margin-right: 10px;
//     width: 100px;
// }

// #timeline-wrap{
//     margin: 5% 5%;
//     position:relative;  
// }
  
// #timeline{
//     height: 2px;
//     width: 100%;
//     background-color:#aabbc4;
//     position:relative;
// }
  
// .marker{
//     z-index:1000;
//     color: #fff;
//     width: 50px;
//     height: 50px;
//     line-height: 50px;
//     font-size: 1.4em;
//     text-align: center;
//     position: absolute;
//     margin-left: -25px;
//     background-color: #999999;
//     border-radius: 50%;
// }
  
// .marker:hover{
//     -moz-transform: scale(1.2);
//     -webkit-transform: scale(1.2);
//     -o-transform: scale(1.2);
//     -ms-transform: scale(1.2);
//     transform: scale(1.2);
     
//     -webkit-transition: all 300ms ease;
//     -moz-transition: all 300ms ease;
//     -ms-transition: all 300ms ease;
//     -o-transition: all 300ms ease;
//     transition: all 300ms ease;
// }
  

// .timeline-icon-origin {
//     background: #7e8aaf url(https://img.icons8.com/ios-filled/30/000000/farm.png) no-repeat 10px center;
// }
  
// .timeline-icon-previous{
//     background: #6976a2 url(https://img.icons8.com/ios-filled/30/000000/farm.png) no-repeat 10px center;
// }

// .timeline-icon-current {
//     background: #4d5f94 url(https://img.icons8.com/ios-filled/30/000000/farm.png) no-repeat 10px center;
// }  
  
// .mfirst{
//     top:-25px;
// }
  
// .m{
//     top:-25px;
// }  
  
// .mlast{
//     top:-25px;
//     left:100%
// }

.close:focus {
    outline: none;
}

.hint-msg {
    display: inline-block;
    color: red;
    margin-left: 10px;
}

.table-warn {
    font-size: 20px;
    margin-right: 5px;
}

.fa-exclamation-triangle {
    color: #ff4a4a;
    cursor: pointer;
    vertical-align: middle;
}

.cp-clip,
.transfer-btn {
    font-size: 20px;
    text-align: center;
    width: 50px;
    cursor: pointer;
}

.transfer-value-cell {
    width: 80px;
}

.cp-clip:hover {
    background-color: #f2f5f8;
}

.transfer-btn:hover {
    background-color: #ecf0f5;
}

.red-border {
    border-color: red;
}

.red-border:focus {
    border-color: red;
}

.grid-container-2 {
    display: grid;
    margin-top: 16px;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 550px) {
    .grid-container-2 {
        grid-template-columns: 1fr;
    }
}

.card-light-blue {
    background-color: #b3f6ff;
}

.card-light-blue .infographics-title {
    background-color: #79efff;
}

.card-light-green {
    background-color: #a6ffbE;
}

.card-light-green .infographics-title {
    background-color: #63fd8c;
}

.card-light-red {
    background-color: #ff8e8e;
}

.card-light-red .infographics-title {
    background-color: #ff6a6a;
}

.card-light-yellow {
    background-color: #efffa7;
}

.card-light-yellow .infographics-title {
    background-color: #d8f74e;
}

.infographics-title {
    margin-bottom: 8px;
    border-radius: 21px;
    padding: 3px 0;
}

.infographics-title,
.infographics-body {
    font-size: 23px;
    text-align: center;
    display: block;
}

@media only screen and (max-width: 650px) {
    .infographics-title {
        font-size: 18px;
    }
}

.tasks-line {
    margin-top: 20px;
    border-left: 3px solid;
    margin-left: 27px;
    cursor: default;
    user-select: none;
}

.tl-blue {
    border-left: 3px solid #79efff;
}

.tl-green {
    border-left: 3px solid #63fd8c;
}

.tl-red {
    border-left: 3px solid #ff6a6a;
}

.tasks-line-item {
    display: grid;
    grid-template-columns: 50px 40% auto 30px;
    margin-bottom: 30px;
    margin-left: -15.5px;
    padding: 5px;
    border-radius: 17px;
    align-items: center;
}

.tasks-line-item-add {
    display: grid;
    grid-template-columns: 50px 85px 140px auto;
    margin-bottom: 30px;
    margin-left: -15.5px;
    padding: 5px;
    border-radius: 17px;
    align-items: center;
}

.tli-blue {
    background-color: #b3f6ff;
}

.tli-green {
    background-color: #a6ffbE;
}

.tli-red {
    background-color: #ff8e8e;
}

.tli-yellow {
    background-color: #efffa7;
}

.tli-transparent {
    background-color: transparent;
}

.tasks-line-item-icon {
    border-radius: 27px;
    margin: -13px 0 -13px -18px;
    background-color: inherit;
    width: 53.88px;
    height: 53.88px;
    overflow: hidden;
    font-size: 22px;
    text-align: center;
    padding: 6.7px 0;
    cursor: pointer;
}

.tasks-line-item-icon-add {
    background-color: #b3f6ff;
    transition: 0.4s;
}

.tasks-line-item-icon-add:hover {
    background-color: #79efff;
}

.tl-blue .tasks-line-item-icon {
    border: 3px solid #79efff;
}

.tl-green .tasks-line-item-icon {
    border: 3px solid #63fd8c;
}

.tl-red .tasks-line-item-icon {
    border: 3px solid #ff6a6a;
}

.tasks-line-item-icon .icon-text {
    vertical-align: middle;
    font-weight: 900;
}

.complete-btn {
    font-size: 13px;
    background-color: #63fd8c;
    padding: 5px 8px;
    border-radius: 14px;
    float: right;
    border: 0;
}

.accept-btn {
    font-size: 13px;
    background-color: #79efff;
    padding: 5px 8px;
    border-radius: 14px;
    float: right;
    border: 0;
}

.task-modal-btn {
    float: right;
    margin-top: -2px;
    margin-right: 20px;
}

.green-pill-btn {
    font-size: 13px;
    background-color: #63fd8c;
    padding: 5px 8px;
    border-radius: 14px;
    border: 0;
}

.red-pill-btn {
    font-size: 13px;
    background-color: #ff6a6a;
    padding: 5px 8px;
    border-radius: 14px;
    border: 0;
}

.action-btn:focus {
    outline: none;
}

.fl-r {
    display: inline-block;
    float: right;
}

.open-tasks-container {
    text-align: center;
    padding: 8px;
    margin-top: 16px;
    border: 1px solid #dee2e6;
}

.open-tasks-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 16px;
    margin-top: 8px;
}

.open-task-card {
    outline: none;
    cursor: pointer;
}

.open-task-card .infographics-title,
.open-task-card .infographics-body {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.wrap-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.delete-field-cell {
    padding: 0 12px 0 0;
    width: 52px;
}

.delete-field {
    font-size: 20px;
    text-align: center;
    padding: 1.2px;
    width: 35px;
    height: 35px;
    background-color: #ff6a6a;
    display: block;
    border-radius: 18px;
    cursor: pointer;
}

.delete-field:hover {
    background-color: #f05050;
}

.delete-field i {
    vertical-align: middle;
}

.alert-required {
    border: 2px solid #ff6a6a;
}

.document-form-table {
    margin-bottom: 12px;
}

.calendar-chart-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 16px;
}

.calendar-chart {
    margin: 0 auto;
}


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

