<div class="modal-header">
    <h4 class="modal-title">{{ message }}</h4>
    <button type="button" class="close" (click)="activeModal.close(false)">
        <span aria-hidden="true" class="fa fa-times"></span>
    </button>
</div>
<div class="modal-content">
    <div>
        <button type="button" class="btn btn-success ml-2 mr-2" (click)="activeModal.close(true)">Yes</button>
        <button type="button" class="btn btn-danger" (click)="activeModal.close(false)">No</button>
    </div>
</div>