<body>
    <div id="notfound">
        <div class="notfound">
            <div class="gearoll"></div>
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>404 - The Page can't be found</h2>
            </div>
            <a routerLink="">Go TO Homepage</a>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->