<section class="overlay">
    <h4>
        <ul>
            <br>
            <li>Don't have MetaMask? Please download metamask in order to continue <a href="https://metamask.io/" target="_blank" rel="noreferrer"><img src="../../../assets/download-metamask-dark.png" style="width:180px"></a></li>
            <br><hr><br>
            <li>Not logged in? Please log in to metamask in order to continue</li>
            <br><hr><br>
            <li>Already logged in? Please verify that you are connected to ThesisBlockchain and you use an account related to it</li>
            <br>
        </ul>
    </h4>
</section>