<ng-container *ngIf="isEmployee">
    <div class="modal-header">
        <h4 class="modal-title">Add Task</h4>
        <button type="button" class="close" (click)="activeModal.close(false)">
            <span aria-hidden="true" class="fa fa-times"></span>
        </button>
    </div>
    <div class="modal-content">
        <form novalidate [formGroup]="taskform" (ngSubmit)="submit()">
            <mat-form-field class="form-field-full">
                <input type="text" matInput formControlName="taskName" placeholder="Task Name" required>
            </mat-form-field>
            <mat-checkbox class="form-field-full" formControlName="accept">Assign yourself the task</mat-checkbox>
            <div class="form-group">
                <button type="submit" [disabled]="isSaving" class="btn btn-success modal-btn-success">
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
            </div> 
        </form>
    </div>
</ng-container>