<footer>
    <div class="py-2 footer-table">
        <span class="footer-text footer-cell">Copyright © 2020</span>
        <a href="https://www.hua.gr/index.php/el/" target="_blank" rel="noreferrer" class="footer-cell"><div class="hua-logo"></div></a>
        <span class="footer-text footer-cell">ΠΤΥΧΙΑΚΗ ΕΡΓΑΣΙΑ 21516</span>
    </div>
</footer>