<mat-progress-bar mode="indeterminate" *ngIf="!user"></mat-progress-bar>
<section class="overlay" *ngIf="user">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title inline-field">
                <i class="fas fa-id-card"></i>
                {{currentPage}} Profile
                <i *ngIf="user.balance < 1" matTooltip="Low level of Ether" matTooltipPosition="after" class="fas fa-exclamation-triangle"></i>
            </h3>
            <span class="edit-button" *ngIf="!editMode" (click)="toggleEdit()"></span>
            <span class="cancel-button" *ngIf="editMode" (click)="toggleEdit()"></span>
            <span class="save-button" *ngIf="editMode" (click)="saveChanges()"></span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th class="th-20">{{currentPage}} ID</th>
                            <td colspan="3">{{user.id}}</td>
                        </tr>
                        <tr>
                            <th class="th-20">Name</th>
                            <td colspan="3">{{user.name}}</td>
                        </tr>
                        <tr>
                            <th class="th-20">Surname</th>
                            <td colspan="3">{{user.surname}}</td>
                        </tr>
                        <tr>
                            <th class="th-20">Wallet Address</th>
                            <td colspan="2">{{user.walletAddress}}</td>
                            <td class="cp-clip" (click)="copyToClipboard(user.walletAddress)">
                                <i class="far fa-clone"></i>     
                            </td>
                        </tr>
                        <tr>
                            <th class="th-20">Balance</th>
                            <td>
                                {{user.balance}} 
                                <i class="fab fa-ethereum"></i> 
                                ETH
                            </td>
                            <td class="transfer-value-cell">
                                <input type="number" min="0" step="0.1" class="form-control form-control-sm" [(ngModel)]="amount">
                            </td>
                            <td class="transfer-btn" (click)="transferEther(user.walletAddress, amount)">
                                <i class="far fa-paper-plane"></i>     
                            </td>
                        </tr>
                        <tr>
                            <th class="th-20">Department</th>
                            <td colspan="3">
                                <div *ngIf="!editMode">{{user.department}}</div>
                                <div *ngIf="editMode">
                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="department" required>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="grid-container-2" *ngIf="currentPage==='Employee'">
        <div class="card card-light-blue">
            <div class="card-body">
                <span class="infographics-title">
                    <i class="fas fa-thumbtack"></i>
                    Tasks Pending
                </span>
                <span class="infographics-body">{{user.tasksPending}}</span>
            </div>
        </div>
        <div class="card card-light-green">
            <div class="card-body">
                <span class="infographics-title">
                    <i class="fas fa-check-circle"></i>
                    Tasks Completed
                </span>
                <span class="infographics-body">{{user.tasksCompleted}}</span>
            </div>
        </div>
    </div>
    <div class="grid-container-2" *ngIf="currentPage==='Supervisor'">
        <div class="card card-light-red">
            <div class="card-body">
                <span class="infographics-title">
                    <i class="fas fa-times-circle"></i>
                    Processes Rejected
                </span>
                <span class="infographics-body">{{user.processesRejected}}</span>
            </div>
        </div>
        <div class="card card-light-green">
            <div class="card-body">
                <span class="infographics-title">
                    <i class="fas fa-check-circle"></i>
                    Processes Approved
                </span>
                <span class="infographics-body">{{user.processesApproved}}</span>
            </div>
        </div>
    </div>
    <ng-container *ngIf="currentPage==='Employee' && user.contributions">
        <app-calendar-chart [contributions]="user.contributions"></app-calendar-chart>
    </ng-container>
</section>